<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="LogSource" value="Orcus.Core,Orcus.Core.Logging.Logger.TraceLogger" />
    <add key="LogFormatter" value="Orcus.Core,Orcus.Core.Logging.Formatter.HtmlFormatter" />
  </appSettings>
  <connectionStrings>
    <add name="NORTHWNDEntities" connectionString="metadata=res://*/NORTHWNDModel.csdl|res://*/NORTHWNDModel.ssdl|res://*/NORTHWNDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARAGORN\SQLEXPRESS;initial catalog=NORTHWND;persist security info=True;user id=SA;password=Sa123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="NORTHWNDEntities" connectionString="metadata=res://*/NORTHWNDModel.csdl|res://*/NORTHWNDModel.ssdl|res://*/NORTHWNDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NORTHWND;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>